.aalb-pg-ad-unit {
    position: relative;
    overflow: hidden;
    padding: 22px 40px;
}

.aalb-pg-ad-unit * {
    box-sizing: content-box;
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    outline: 0;
    padding: 0;
}

.aalb-pg-ad-unit.pull-left {
    float: left;
}

.aalb-pg-ad-unit.pull-right {
    float: right;
}

.aalb-pg-ad-unit.pull-left .aalb-pg-product, .aalb-pg-ad-unit.pull-right .aalb-pg-product {
    width: 185px !important;
}

.aalb-pg-ad-unit a {
    box-shadow: none !important;
}

.aalb-pg-ad-unit a:hover {
    color: #c45500;
}

.aalb-pg-ad-unit .aalb-pg-ad-header {
    padding-left: 3px;
    padding-bottom: 9px;
    font-size: 17px;
    font-weight: normal;
    color: #111111;
}

.aalb-pg-ad-unit .aalb-pg-product-list {
    /* Remove the border-top to remove the horizontal line after the Ad Header*/
    border-top: 2px solid #f7f7f7;
    overflow: hidden;
}

.aalb-pg-product {
    /* Make width 205px as  defined in updateLayout() function in ProductGrid.mustache and height 290px to make li as grid and contain height of stretching cell */
    height: 290px;
    width: 205px;
    padding-top: 22px;
    padding-bottom: 22px;
    float: left;
    list-style: none;
    text-align: center;
}

.aalb-pg-product-image {
    display: table;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.aalb-pg-ad-unit .aalb-pg-product-image-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.aalb-pg-ad-unit .aalb-pg-product-image a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.aalb-pg-ad-unit .aalb-pg-product-image img {
    max-width: 150px;
    max-height: 150px;
    vertical-align: bottom;
}

.aalb-pg-ad-unit .aalb-pg-percent-off {
    display: block;
    width: 32px;
    height: 27px;
    padding-top: 5px;
    position: absolute;
    top: -16px;
    right: -16px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #a50200;
    background-image: -webkit-linear-gradient(top, #cb0400, #a50200);
    background-image: linear-gradient(to bottom, #cb0400, #a50200);
}

.aalb-pg-ad-unit.hide-percent-off-badge .aalb-pg-percent-off {
    display: none;
}

.aalb-pg-product-details {
    max-width: 205px;
    margin: 11px 10px 0 10px;
    text-align: left;
}

.aalb-pg-ad-unit .aalb-pg-product-title a {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    color: #111111;
    text-decoration: none;
}

.aalb-pg-ad-unit.no-truncate .aalb-pg-product-title a {
    text-overflow: initial;
    white-space: initial;
}

.aalb-pg-ad-unit .aalb-pg-product-offer-price {
    font-size: 13px;
    color: #111111;
}

.aalb-pg-ad-unit .aalb-pg-product-offer-price-value {
    color: #AB1700;
    font-weight: bold;
}

.aalb-pg-ad-unit .aalb-pg-product-list-price {
    font-size: 13px;
    color: #565656;
}

.aalb-pg-ad-unit .aalb-pg-product-list-price-value {
    text-decoration: line-through;
}

.aalb-pg-ad-unit .aalb-pg-product-prime-icon .icon-prime-all {
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x_weblab_AUI_100106_T1-4e9f4ae74b1b576e5f55de370aae7aedaedf390d._V2_.png") no-repeat;
    display: inline-block;
    margin-top: -1px;
    vertical-align: middle;
    background-position: -192px -911px;
    background-size: 560px 938px;
    width: 52px;
    height: 15px;
}

.aalb-pg-ad-unit .aalb-pg-product-offer-price,
.aalb-pg-ad-unit .aalb-pg-product-list-price,
.aalb-pg-ad-unit .aalb-pg-product-prime-icon {
    display: inline-block;
    margin-right: 2px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .aalb-pg-ad-unit .aalb-pg-product-prime-icon .icon-prime-all {
        background: url("https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_2x_weblab_AUI_100106_T1-4e9f4ae74b1b576e5f55de370aae7aedaedf390d._V2_.png") no-repeat;
        display: inline-block;
        margin-top: -1px;
        vertical-align: middle;
        background-position: -192px -911px;
        background-size: 560px 938px;
        width: 52px;
        height: 15px;
    }
}

/* css for mobile devices when device width is less than 441px*/
@media  screen and (max-width: 440px) {
    .aalb-pg-ad-unit {
        padding: 0;
        max-width: 100%;
    }

    .aalb-pg-product {
        max-width: 100%;
        padding-top: 22px;
        padding-bottom: 22px;
        margin: 0 auto;
        list-style: none;
        float: none;
    }

    .aalb-pg-product-image {
        margin: 0 auto;
    }
}
